extends ../templates/layout

block content 
    h3 Añadir una nueva asignatura
        div 
            form(action="/asignaturas/add", method="post") 
                label(for="nombre") Nombre:
                input(type="text", name="nombre")
                br
                label(for="apellido") Ciclo:
                select(name="ciclo") 
                    option(value="ASIR") ASIR
                    option(value="DAM") DAM
                    option(value="DAW") DAW
                    option(value="SMR") SMR
                br
                label(for="curso") Curso (entre 1 y 3): 
                input(type="number", name="curso" max="3", min="1")
                br                
                input(type="submit", value="Enviar")
