doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Alumnos
        style
            include styles/styles.css
    body 
        include templates/header
        div 
            table(border="1px solid")
                thead 
                    tr 
                        th Id 
                        th Nombre 
                        th Apellido 
                tbody 
                    each alumno in alumno
                    tr 
                        th #{alumno.id}
                        th #{alumno.nombre}
                        th #{alumno.apellido}
        include templates/footer