doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Saludo
    body 
        h1 Hola 
        div 
        p `Encantado de conocerte ${apellido}, ${nombre}`