doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hola mundo
    body
        h1='Hola mundo'
        h2 Esto es un titulo 2
        h3 Estos es un título 3
        div 
            form(action="", method="post") 
                label(for="nombre") Nombre:
                input(type="text", name="nombre") 
                br
                label(for="apellido") Apellido: 
                input(type="text", name="apellido") 
                br
                input(type="submit", value="enviar")