extends ../templates/layout

block content 
    h3 Añadir un nuevo alumno
        div 
            form(action="/alumnos/add", method="post") 
                label(for="nombre") Nombre:
                input(type="text", name="nombre")
                br
                label(for="apellido") Apellido:
                input(type="text", name="apellido")                 
                br                
                input(type="submit", value="Enviar")
