extends ../templates/layout

block content 
    h3 Editar un alumno
        div 
            form(method="post") 
                label(for="nombre") Nombre:
                input(type="text", name="nombre", value=`${alumno.nombre}`)
                br
                label(for="apellido") Apellido:
                input(type="text", name="apellido", value=`${alumno.apellido}`)
                br
                input(type="hidden", name="id", value=`${alumno.id}`)
                input(type="submit", value="Enviar")
