extends layout

block content
    h1 Eliminar Alumno
    p ¿Estás seguro de que deseas eliminar al alumno con el siguiente detalle?
    ul
      li Nombre: #{alumno.nombre}
      li Apellido: #{alumno.apellido}
    form(action=`/alumnos-delete/${alumno.id}`, method='post')
        button(type='submit') Eliminar Alumno
    br
    a(href='/alumnos') Cancelar

