
extends layout

block content
    h1 Asignaturas Matriculadas
    h2 Alumno: #{alumno.nombre} #{alumno.apellido}
    if asignaturasMatriculadas.length > 0
      ul
        each asignatura in asignaturasMatriculadas
          li= asignatura.asignatura
    else
      p El alumno no está matriculado en ninguna asignatura.

    a(href="/matricular") Volver atrás
