// views/layout.pug
html
  head
    title= pageTitle
    link(rel='stylesheet', type='text/css', href='/css/estilos.css')
  body    
    nav
      ul
        li
          a(href="/") Inicio
        if user
          li
            a(href="/alumnos") Alumnos
          li 
            a(href="/asignaturas") Asignaturas
          li 
            a(href="/matricular") Matriculas
          li
            a(href="/logout") Cerrar sesión
        else
          li
            a(href="/login") Iniciar Sesión
      
    block content

    footer 
      p IES Virgen del Carmen (2023)